@font-face {
  font-family: "Montserrat";
  src: local("MontserratRegular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratMedium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratSemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratBold"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");

  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.page {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --background-color: #E5E5E5;
  --background-color-yellow: #FF9900;
  --color-dark: #000000;
  --сolor-light: #ffffff;
  --color-grey-light: #CACACA;
  --color-grey: #666666;
  --сolor-dark-grey: #414141;
  --color-light-yellow: #FFB84D;
  --color-dark-yellow: #E1670E;
  --border-radius: 16px;
  --gap: 32px;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}

.btn {
  padding: 20px 39px;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--background-color-yellow);
  color: var(--сolor-light);
  transition: background-color .3s ease-in-out;
}

.btn:hover:not(:focus-visible) {
  background-color: var(--color-light-yellow);
  transition: background-color .3s ease-in-out;
}

.btn:focus-visible {
  outline: 0;
  background-color: var(--color-light-yellow);
}

.btn:active:not(:focus-visible) {
  background-color: var(--color-dark-yellow);
}

.header {
  padding: 12px 0;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  align-items: center;
}

.burger {
  display: none;
}

.logo {
  margin-right: auto;
}

.nav {
  margin-right: 260px;
}

.nav__list {
  align-items: center;
  gap: 85px;
}

.nav__link {
  position: relative;
  padding-bottom: 7px;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-dark);
  transition: border-bottom .3s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 5px;
  color: var(--color-dark);
}

.nav__link:focus-visible {
  outline: 0;
  color: var(--color-dark);
}

.nav__link:focus-visible::before {
  opacity: 1;
}

.nav__link:hover:not(:focus-visible) {
  border-color: var(--background-color-yellow);
  transition: border-bottom .3s ease-in-out;
}

.nav__link:active:not(:focus-visible) {
  color: var(--color-dark-yellow);
  border-bottom: 2px solid var(--color-dark-yellow);
}

.header__btn rect {
  fill: var(--color-dark);
  transition: fill .3s ease-in-out;
}

.header__btn path {
  stroke: var(--color-dark);
  transition: stroke .3s ease-in-out;
}

.header__btn:hover:not(:focus-visible) rect {
  fill: var(--background-color-yellow);
  transition: fill .3s ease-in-out;
}

.header__btn:hover:not(:focus-visible) path {
  stroke: var(--background-color-yellow);
  transition: stroke .3s ease-in-out;
}

.header__btn:focus-visible {
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 2px;
}

.header__btn:active:not(:focus-visible) rect {
  fill: var(--background-color-yellow);
}

.header__btn:active:not(:focus-visible) path {
  stroke: var(--background-color-yellow);
}

.hero {
  padding-top: 48px;
  padding-bottom: 34px;
}

.hero__content {
  padding: 100px 0 100px 80px;
  border-radius: 32px;
  background-color: var(--color-dark);
  background: url("../img/hero.bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--сolor-light);
}

.hero__descr {
  max-width: 790px;
  margin: 0;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--сolor-light);
}

.hero__btn {
  font-weight: 700;
  padding: 25px 39px;
  font-size: 23px;
  line-height: 28px;
}

.hero__btn:focus-visible {
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 2px;
}

.header__btn .special {
  padding-top: 25px;
  padding-bottom: 50px;
}

.special {
  padding-top: 26px;
  padding-bottom: 36px;
}

.special__list {
gap: var(--gap);
}

.special__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 48px;
  line-height: 42px;
  color: var(--color-dark);
}

.special__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.special__item_left {
  position: relative;
  max-width: 868px;
  align-items: flex-end;
}

.special__item_left::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  background: url("../img/special-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  display: block;
}

.special__wrapper_left {
  align-items: center;
  padding: 50px 53px 52px 51px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.5);
}

.special__descr_bottom {
  margin: 0;
  margin-right: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 31px;
  color: var(--сolor-light)
}

.special__btn {
  padding: 21px 35px 16px;
  line-height: 19px;
  background-color: transparent;
  outline: 3px solid var(--background-color-yellow);
  transition: background-color .3s ease-in-out;
}

.special__btn:hover:not(:focus-visible) {
  background-color: var(--background-color-yellow);
  transition: background-color .3s ease-in-out;
}

.special__btn:focus-visible {
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 2px;
  background-color: var(--background-color-yellow);
}

.special__btn:active:not(:focus-visible) {
  background-color: var(--color-dark-yellow);
}

.special__wrapper_right {
  flex-direction: column;
  max-width: 870px;
  gap: var(--gap);
}

.special__item_right {
  padding: 65px 120px 64px 58px;
  border-radius: 32px;
  outline: 1px solid var(--color-grey-light);
}

.special__img {
  margin-right: 50px;
  width: 190px;
  height: 165px;
  background-image: url("../img/special-decor.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.special__subtitle {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-dark);
}

.special__descr_right {
  margin: 0;
  padding: 0;
  max-width: 452px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.special__img_bottom {
  margin-right: 50px;
  width: 190px;
  height: 165px;
  background-image: url("../img/special-decor2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.services {
  padding-top: 66px;
  padding-bottom: 46px;
}

.services__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-dark);
}

.services__list {
  margin-bottom: 53px;
}

.services__list:not(:last-child) {
  gap: 86px;
}

.services__link {
  position: relative;
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  color: var(--color-dark);
  transition: color .3s ease-in-out;
}

.services__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 5px;
}

.services__link:focus-visible {
  outline: 0;
  color: var(--color-dark);
}

.services__link:focus-visible::before {
  opacity: 1;
}

.services__link:hover:not(:focus-visible) {
  color: var(--background-color-yellow);
  transition: color .3s ease-in-out;
}

.services__link:active:not(:focus-visible) {
  color: var(--color-dark-yellow);
}

.services__link_active {
  color: var(--color-dark-yellow);
}

.services__wrapper {
  justify-content: space-between;
}

.services__content {
  max-width: 758px;
  width: 100%;
  min-height: 352px;
  margin-right: 50px;
}

.services__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 15px;
  color: var(--color-dark);
}

.services__descr {
  margin: 0;
  margin-bottom: 18px;
  min-height: 352px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.services__btns {
  gap: var(--gap);
}

.services__btn:focus-visible {
outline: 2px solid var(--background-color-yellow);
outline-offset: 2px;
}

.btn_white {
  display: inline-block;
  padding: 21px 37px;
  font-weight: 400;
  background-color: transparent;
  color: var(--color-dark);
  outline: 1px solid var(--color-dark);
  transition: background-color .3s ease-in-out;
}

.btn_white:hover:not(:focus-visible) {
  background-color: var(--color-grey);
  color: var(--сolor-light);
  transition: background-color .3s ease-in-out;
}

.btn_white:focus-visible {
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 2px;
  background-color: var(--color-grey);
  color: var(--сolor-light);
}

.btn_white:active:not(:focus-visible) {
  background-color: var(--color-dark);
  color: var(--сolor-light);
}

.services__img {
  max-width: 870px;
  border-radius: 32px;
}

.faq {
  padding-top: 68px;
  padding-bottom: 92px;
}

.faq__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  color: var(--color-dark);
}

.faq__list {
  cursor: pointer;
}

.faq__item {
position: relative;
  padding: 34px 0 28px 0;
  margin-top: -1px;
  padding-right: 75px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-grey-light);
  transition: border .3s ease-in-out;
}

.faq__item:first-child {
  border-color: var(--color-grey-light);
}

.faq__item:hover:not(:focus-visible) {
  border-color: var(--background-color-yellow);
}

.faq__item:hover:not(:focus-visible) .faq__subtitle {
  color: var(--background-color-yellow);
}

.faq__item:focus-visible {
  border-color: var(--background-color-yellow);
}

.faq__item:hover:not(:focus-visible) .faq__subtitle {
  color: var(--background-color-yellow);
}

.faq__item:active:not(:focus-visible) {
  border-color: var(--color-grey-light);
}

.faq__item:active:not(:focus-visible) .faq__subtitle {
  color: var(--color-dark);
}

.faq__item svg {
position: absolute;
  margin-top: -33px;
  right: 2px;
  top: 50%;
  transition: transform .3s ease-in-out;
}

.faq__btn:focus-visible svg {
  outline: 2px solid var(--background-color-yellow);
}

.faq__item:hover:not(:focus-visible) svg ellipse {
  fill: var(--background-color-yellow);
}

.faq__item:hover:not(:focus-visible) svg path {
  fill: var(--сolor-light);
}

.faq__item:focus-visible svg ellipse {
  fill: var(--background-color-yellow);
}

.faq__item:focus-visible svg path {
  fill: var(--сolor-light);
}

.faq__item:active:not(:focus-visible) svg ellipse {
  fill: var(--color-grey-light);
}

.faq__item:active:not(:focus-visible) svg path {
  fill: var(--color-dark);
}

.faq__rotation:active:not(:focus-visible) svg {
  transform: rotate(45deg);
  transition: transform .3s ease-in-out;
}

.faq__item svg ellipse,
.faq__item svg path {
  transition: fill .3s ease-in-out;
}

.faq__subtitle,
.faq__subtitle_two,
.faq__subtitle_free,
.faq__subtitle_four,
.faq__subtitle_five {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-dark);
  transition: .3s ease-in-out;
  }

.footer {
  background-color: var(--color-dark);
}

.footer__wrapper_big {
  padding: 46px 0 46px;
  justify-content: space-between;
}

.footer__wrapper_left {
  margin-right: 110px;
}

.footer__img {
  margin-bottom: 19px;
}

.footer-nav {
  margin-bottom: 88px;
}

.footer-nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-grey-light);
  transition: color .3s ease-in-out;
}

.footer-nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 5px;
}

.footer-nav__link:focus-visible {
  outline: 0;
  color: var(--color-grey-light);
}

.footer-nav__link:focus-visible::before {
  opacity: 1;
}

.footer-nav__link:hover:not(:focus-visible) {
  color: var(--background-color-yellow);
  transition: color .3s ease-in-out;
}

.footer-nav__link:active:not(:focus-visible) {
  color: var(--color-dark-yellow);
}

.form {
  flex-direction: column;
}

.social__item:not(:last-child) {
  margin-right: 27px;
}

.social__link path {
  position: relative;
  transition: fill .3s ease-in-out;
}

.social__link:hover:not(:focus-visible) path {
  fill: var(--background-color-yellow);
  transition: fill .3s ease-in-out;
}

.social__link:focus-visible {
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 5px;
  fill: var(--color-grey);
}

.social__link:active:not(:focus-visible) path {
  fill: var(--color-dark-yellow);
}

.footer__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  color: var(--color-grey-light);
}

.form__input {
  margin-bottom: 28px;
  padding: 23px 0 14px 23px;
  width: 567px;
  height: 60px;
  border-radius: var(--border-radius);
  background-color: var(--сolor-dark-grey);
  transition: background-color .3s ease-in-out;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey-light);
}

.form__input:hover:not(:focus-visible) {
  background-color: var(--color-grey);
  transition: background-color .3s ease-in-out;
}

.form__input:focus-visible {
  background-color: var(--color-grey);
  outline: 2px solid var(--background-color-yellow);
}

.form__input:active::placeholder {
  color: var(--сolor-light);
}

.form__textarea {
  margin-bottom: 30px;
  padding: 19px 0 0 24px;
  max-width: 570px;
  min-height: 150px;
  border-radius: var(--border-radius);
  background-color: var(--сolor-dark-grey);
  color: var(--color-grey-light);
}

.form__textarea:focus-visible {
  outline: 2px solid var(--background-color-yellow);
}

.form__textarea::placeholder {
  background-color: var(--сolor-dark-grey);
  color: var(--color-grey-light);
}

.footer__wrapper_bottom {
  justify-content: center;
}

.footer__btn {
  padding: 20px 52px;
}

.footer__btn:focus-visible {
  outline: 2px solid var(--background-color-yellow);
  outline-offset: 2px;
}

.footer__descr {
  align-self: center;
  margin: 0;
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey-light);
}
