@media (max-width: 1600px) {
  .special__wrapper_right {
    width: 50%;
  }

  .special__item_left,
  .services__img {
    width: 50%;
  }
}

@media (max-width: 1440px) {
  .header__container {
    justify-content: space-between;
  }

  .logo,
  .nav,
  .footer__wrapper_left {
    margin: 0;
  }

  .nav__list {
    gap: 60px;
  }

  .special__list {
    flex-wrap: wrap;
  }

  .special__wrapper_right {
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
  }

  .special__item_right {
    width: calc(50% - 15px);
  }

  .special__item_left {
    max-width: 1440px;
    width: 100%;
    min-height: 622px;
  }

  .special__descr_bottom {
    margin-right: 60px;
  }

  .footer__descr {
    max-width: 278px;
    line-height: 22px;
  }
}

@media (max-width: 1200px) {
  .logo {
    margin: 0 auto;
    max-width: 150px;
    padding: 0;
  }

  .nav {
    display: none;
  }

  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    color: var(--color-dark);
  }

  .burger:focus-visible {
    outline: 2px solid red;
    outline-offset: 3px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: -5px;
  }

  .burger__line:nth-child(2) {
    top: 29%;
    transform: translate(-50%, -50%);
  }

  .burger__line:nth-child(3) {
    bottom: 5px;
  }

  .form__input {
    margin-bottom: 25px;
    padding: 22px 0 19px 22px;
    max-width: 430px;
    min-height: 60px;
  }

  .form__textarea {
    margin-bottom: 32px;
    padding: 21px 0 0 24px;
    min-height: 150px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 26px 35px 22px;
  }

  .logo {
    margin: 0 auto;
    max-width: 150px;
    padding: 0;
  }

  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }

  .header__btn:focus-visible {
    outline: 2px solid var(--background-color-yellow);
    outline-offset: 4px;
  }

  .hero {
    padding: 40px 35px 18px;
  }

  .hero__content {
    padding: 160px 77px 162px 77px;
  }

  .hero__title {
    max-width: 770px;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    max-width: 660px;
    margin-bottom: 62px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__btn {
    padding: 23px 38px 23px 40px;
  }

  .special {
    padding: 26px 35px 36px;
  }

  .special__title {
    margin-bottom: 30px;
  }

  .special__descr {
    width: 100%;
    margin-bottom: 58px;
    line-height: 32px;
  }

  .special__list {
    flex-direction: column;
  }

  .special__item_left {
    max-width: 924px;
    width: 100%;
    min-height: 640px;
  }

  .special__wrapper_left {
    padding: 51px 51px 49px 49px;
  }

  .special__descr_bottom {
    margin-bottom: 0;
    margin-right: 195px;
    padding: 0;
  }

  .special__btn {
    padding: 18px 35px 17px;
  }

  .special__item_right {
    flex-wrap: nowrap;
    padding: 65px 0 64px 77px;
  }

  .special__img {
    margin-right: 50px;
    width: 190px;
    height: 165px;
  }

  .special__descr_right {
    margin: 0;
    padding-left: 0;
  }

  .services {
    padding: 45px 35px 33px;
  }

  .services__list {
    margin-bottom: 60px;
    gap: 83px;
  }

  .services__content {
    margin-right: 50px;
  }

  .services__descr {
    margin-bottom: 24px;
  }

  .services__btn_left {
    padding: 21px 36px 18px 39px;
  }

  .btn_white {
    padding: 21px 36px;
  }

  .services__img {
    max-width: 437px;
  }

  .faq {
    padding: 50px 27px 77px 35px;
  }

  .faq__title {
    margin-bottom: 32px;
  }

  .faq__subtitle,
  .faq__subtitle_two,
  .faq__subtitle_free,
  .faq__subtitle_four,
  .faq__subtitle_five {
    font-size: 20px;
  }

  .faq__subtitle_two {
    padding-right: 109px;
  }

  .faq__item {
    display: flex;
    align-items: center;
    padding-right: 60px;
    padding-top: 29px;
    min-height: 118px;
  }

  .faq__item svg {
    position: absolute;
    margin-top: -20px;
    right: 8px;
    top: 45%;
  }

  .footer__wrapper_big {
    padding: 49px 35px 45px 35px;
  }

  .footer__img {
    margin-bottom: 21px;
  }

  .footer-nav {
    margin-bottom: 93px;
  }

  .footer-nav__link {
    line-height: 35px;
  }

  .social__item:not(:last-child) {
    margin-right: 24px;
  }

  .footer__title {
    margin-bottom: 18px;
    line-height: 67px;
  }

  .form__input {
    margin-bottom: 25px;
    padding: 22px 0 19px 22px;
    max-width: 541px;
    min-height: 60px;
  }

  .form__textarea {
    margin-bottom: 32px;
    padding: 22px 0 0 24px;
    min-height: 150px;
  }

  .footer__btn {
    padding: 21px 36px 19px 40px;
  }

  .footer__descr {
    display: none;
  }
}

@media (max-width: 992px) {
  .special__wrapper_right {
    flex-direction: column;
  }

  .special__item_right {
    width: 100%;
  }

  .special__img,
  .special__img_bottom {
    width: 114px;
    height: 99px;
  }

  .services__wrapper {
    flex-wrap: wrap-reverse;
  }

  .services__img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 46px;
  }

  .footer__img {
    margin-bottom: 0;
  }

  .footer-nav {
    display: none;
  }

  .footer__wrapper_left {
    display: flex;
    flex-wrap: wrap;
  }

  .social {
    align-self: flex-end;
    justify-content: space-between;
    max-width: 225px;
    width: 100%;
  }

  .footer__title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 11px;
    padding-bottom: 10px;
  }

  .burger__line:nth-child(1) {
    top: -1px;
  }

  .burger__line:nth-child(2) {
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .burger__line:nth-child(3) {
    bottom: 4px;
  }

  .hero {
    padding: 36px 35px 26px;
  }

  .hero__content {
    padding: 160px 21px 161px 41px;
    border-radius: 24px;
  }

  .hero__title {
    max-width: 588px;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    max-width: 588px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  .hero__btn {
    font-size: 23px;
    padding: 23px 40px 23px 38px;
    line-height: 32px;
  }

  .special {
    padding-top: 17px;
  }

  .special__title {
    margin-bottom: 29px;
  }

  .special__descr {
    max-width: 668px;
    margin-bottom: 53px;
  }

  .special__item_left {
    max-width: 668px;
    min-height: 650px;
    border-radius: 24px;
  }

  .special__descr_bottom {
    margin: 0;
    margin-right: 45px;
    padding: 0;
  }

  .special__btn {
    padding: 14px 35px 14px;
    line-height: 26px;
  }

  .special__wrapper_left {
    padding: 35px 43px 33px 40px;
    border-radius: 24px;
  }

  .special__item_right {
    padding: 37px 47px 33px 40px;
  }

  .special__img {
    position: relative;
    background-size: contain;
    width: 114px;
    height: 99px;
    margin-right: 15px;
    top: 31px;
  }

  .special__subtitle {
    margin-bottom: 8px;
    line-height: 28px;
  }

  .special__descr_right {
    padding: 0;
    margin: 0;
    max-width: 452px;
  }

  .services {
    padding-bottom: 20px;
  }

  .services__wrapper {
    flex-direction: column-reverse;
  }

  .services__content {
    margin-right: 0;
  }

  .services__title {
    margin-bottom: 51px;
  }

  .services__list {
    margin-bottom: 48px;
    padding-left: 0;
  }

  .services__list:not(:last-child) {
    gap: 20px 155px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services__img {
    max-width: 668px;
    width: 100%;
    height: 286px;
    margin-bottom: 46px;
    border-radius: 24px;
  }

  .services__subtitle {
    margin-bottom: 17px;
    font-size: 24px;
  }

  .services__descr {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 32px;
  }

  .services__btns {
    padding-left: 0;
  }

  .services__btn {
    padding: 19px 38px;
  }

  .btn_white {
    padding: 21px 38px 19px;
  }

  .faq {
    padding: 30px 27px 112px 35px;
  }

  .faq__title {
    max-width: 472px;
    margin-bottom: 33px;
    line-height: 58px;
  }

  .faq__item {
    display: flex;
    align-items: center;
    padding-right: 60px;
    padding-top: 31px;
    min-height: 113px;
  }

  .faq__item_free {
    padding-top: 34px;
  }

  .faq__item_five {
    padding-top: 32px;
  }

  .faq__item svg {
    position: absolute;
    margin-top: -18px;
    right: 8px;
    top: 43%;
  }

  .faq__item_free svg {
    position: absolute;
    margin-top: -23px;
    right: 8px;
    top: 43%;
  }

  .faq__item_four svg {
    position: absolute;
    margin-top: -16px;
    right: 8px;
    top: 43%;
  }

  .faq__item_five svg {
    position: absolute;
    margin-top: -23px;
    right: 8px;
    top: 43%;
  }

  .faq__subtitle_two {
    padding-right: 171px;
    line-height: 32px;
  }

  .faq__subtitle_free {
    padding-right: 136px;
    line-height: 31px;
  }

  .faq__subtitle_four {
    line-height: 33px;
  }

  .faq__subtitle_five {
    line-height: 32px;
  }

  .footer-nav {
    display: none;
  }

  .footer__img {
    margin-bottom: 8px;
    max-width: 224px;
  }

  .footer__wrapper {
    width: 100%;
  }

  .footer__title {
    margin-bottom: 19px;
    text-align: start;
  }

  .footer__wrapper_left {
    position: absolute;
    max-width: 224px;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-end
  }

  .footer__wrapper_big {
    position: relative;
    max-width: 768px;
    width: 100%;
    min-height: 792px;
    padding-top: 47px;
    padding-bottom: 46px;
  }

  .form {
    max-width: 541px;
  }

  .form__input {
    max-width: 541px;
    width: 100%;
    margin-bottom: 25px;
  }

  .form__textarea {
    margin-bottom: 33px;
  }

  .footer__wrapper_bottom {
    justify-content: center;
    width: 100%;
    max-width: 541px;
  }

  .social {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .social__item:not(:last-child) {
    margin-right: 24px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 17px 0 12px;
    border-radius: 0px 0px 16px 16px;
  }

  .burger {
    height: 23px;
  }

  .burger__line:nth-child(1) {
    top: -2px;
  }

  .burger__line:nth-child(2) {
    top: 44%;
  }

  .burger__line:nth-child(3) {
    bottom: 2px;
  }

  .logo {
    max-width: 110px;
  }

  .hero {
    padding: 30px 0;
  }

  .hero__content {
    padding: 60px 22px 59px 22px;
    border-radius: var(--border-radius);
  }

  .hero__title {
    width: 100%;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__descr {
    width: 100%;
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    padding: 13px 28px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  .special {
    padding: 30px 0;
  }

  .special__list {
    gap: 0;
  }

  .special__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .special__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .special__item_left {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  .special__item_left::before {
    content: "";
    position: initial;
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius);
    margin-bottom: 8px;
  }

  .special__wrapper_left {
    flex-wrap: wrap;
    padding: 0;
    background: transparent;
  }

  .special__descr_bottom {
    color: var(--color-dark);
    margin-right: 0;
    margin-bottom: 12px;
    font-weight: 400;
  }

  .special__btn {
    padding: 12px 44px;
    margin-bottom: 32px;
    background-color: var(--сolor-light);
    outline: 2px solid var(--background-color-yellow);
    color: var(--background-color-yellow);
    transition: background-color .3s ease-in-out;
  }

  .special__btn:hover:not(:focus-visible) {
    background-color: var(--background-color-yellow);
    transition: background-color .3s ease-in-out;
    color: var(--сolor-light);
  }

  .special__btn:focus-visible {
    outline: 2px solid var(--background-color-yellow);
    outline-offset: 2px;
    background-color: var(--background-color-yellow);
    color: var(--сolor-light);
  }

  .special__btn:active:not(:focus-visible) {
    background-color: var(--color-dark-yellow);
  }

  .special__wrapper_right {
    display: block;
  }

  .special__item_right {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    outline: none;
    margin-bottom: 32px;
  }

  .special__item_right:last-child {
    margin-bottom: 0;
  }

  .special__img {
    position: static;
    width: 64px;
    height: 49px;
    margin-right: 0;
    margin-bottom: 12px;
    background-image: url("../img/spec-decor.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .special__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .special__descr_right {
    margin: 0;
    max-width: 100%;
  }

  .special__img_bottom {
    background-image: url("../img/spec-decor-bottom.svg");
  }

  .services {
    padding: 30px 0;
  }

  .services__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .services__list {
    margin-bottom: 13px;
  }

  .services__list:not(:last-child) {
    gap: 44px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .services__img {
    min-width: 290px;
    width: 100%;
    min-height: 160px;
    height: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
  }

  .services__content {
    margin-right: 0;
  }

  .services__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  .services__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .services__link {
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .services__btn {
    padding: 12px 44px;
    height: 39px;
  }

  .services__btns {
    gap: 10px;
  }

  .btn_white {
    padding: 12px 32px;
  }

  .faq {
    padding: 30px 0 60px;
  }

  .faq__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }

  .faq__item {
    padding-right: 0;
    min-height: 109px;
  }

  .faq__subtitle,
  .faq__subtitle_two,
  .faq__subtitle_free,
  .faq__subtitle_four,
  .faq__subtitle_five {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__subtitle_one {
      width: 237px;
  }

  .faq__subtitle_two {
    width: 239px;
    height: 72px;
    padding-right: 0;
  }

  .faq__subtitle_free {
    padding-right: 0;
    width: 211px;
  }

  .faq__subtitle_four {
    width: 245px;
  }

  .faq__subtitle_five {
    width: 238px;
  }

  .faq__item svg {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    right: 0px;
  }

  .footer__title {
    padding: 34px 86px 0 0;
    font-size: 24px;
    line-height: 29px;
  }

  .form__input {
    width: 100%;
    padding: 21px 0 20px 18px;
  }

  .form__input::placeholder {
    font-size: 14px;
  }

  .form__textarea {
    width: 100%;
    margin-bottom: 26px;
    padding: 22px 0 0 19px;
  }

  .form__textarea::placeholder {
    font-size: 14px;
  }

  .footer__wrapper_bottom {
    border-bottom: 1px solid var(--сolor-dark-grey);
  }

  .footer__btn {
    padding: 12px 28px;
    width: 180px;
    margin-bottom: 16px;
  }

  .footer__wrapper_big {
    padding: 0;
    min-height: 628px;
  }

  .footer__wrapper_left {
    left: 50%;
    transform: translateX(-50%);
    max-width: 131px;
  }

  .footer__img {
    max-width: 131px;
    margin-bottom: 11px;
  }

  .social {
    justify-content: center;
    padding-bottom: 26px;
  }

  .social__item svg {
    width: 40px;
    height: 40px;
  }

  .social__item:not(:last-child) {
    margin-right: 16px;
  }
}
